:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #353334;
  padding: 1em;
  color: #ffffff;
  display: flex;
  align-items: center;
  font-size: 2em;
  font-weight: bold;

  img {
    margin-right: .25em;
  }
}

main {
  flex: 1 1 auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

mat-button-toggle-group {
  margin-bottom: 3em;
}

.cms-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.editable-widgets {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.editable-widget {
  margin: 1em 0;
  border: black solid 1px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  background-color: #484848;
  color: #ffffff;
}

.read-only-widgets {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.read-only-widget {
  margin: 1em 0;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.add-widget-btn {
  margin-top: 1em;
}

footer {
  background-color: #484848;
  color: #ffffff;
  padding: 1em;
  text-align: center;
}
