<header>
  <img src="https://success.impartner.com/images/logos/impartner.png" alt="Impartner logo"> CMS
</header>

<main>
  <mat-button-toggle-group name="mode" aria-label="mode">
    <mat-button-toggle value="edit" checked 
      (click)="setMode(modesEnum.edit)">
      <mat-icon>edit</mat-icon>
      Edit Mode
    </mat-button-toggle>
    <mat-button-toggle value="preview" 
      (click)="setMode(modesEnum.preview)">
      <mat-icon>preview</mat-icon>
      Preview Mode
    </mat-button-toggle>
  </mat-button-toggle-group>
  <div class="cms-container">
    <ng-container *ngIf="mode === modesEnum.edit; then editModeTemplate; else previewModeTemplate">
    </ng-container>
  </div>
</main>

<footer>
  Made by Erik Slack for an interview in 2020
</footer>

<!-- Templates -->

<ng-template #editModeTemplate>
  <h1>Edit Mode</h1>
  <div class="editable-widgets">
    <ng-container *ngFor="let widget of widgets" [ngSwitch]="widget.type">
      <ng-container *ngSwitchCase="widgetTypesEnum.image">
        <impartner-image-widget
          class="editable-widget"
          [widget]="widget"
          [readOnly]="false"
          (widgetBlurredEvent)="updateWidget($event)"
          (deleteEvent)="deleteWidget(widget.id)">
        </impartner-image-widget>
      </ng-container>
      <ng-container *ngSwitchCase="widgetTypesEnum.text">
        <impartner-text-widget
          class="editable-widget"
          [widget]="widget"
          [readOnly]="false"
          (widgetBlurredEvent)="updateWidget($event)"
          (deleteEvent)="deleteWidget(widget.id)">
        </impartner-text-widget>
      </ng-container>
      <ng-container *ngSwitchCase="widgetTypesEnum.hello">
        <impartner-hello-widget
          class="editable-widget"
          [widget]="widget"
          [readOnly]="false"
          [userName]="USER_FIRST_NAME"
          (deleteEvent)="deleteWidget(widget.id)">
        </impartner-hello-widget>
      </ng-container>
    </ng-container>
  </div>
  <button mat-fab
    class="add-widget-btn"
    color="default"
    [matMenuTriggerFor]="menu"
    aria-label="Add widget">
    <mat-icon>add</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item
      (click)="addWidget(widgetTypesEnum.image)">
      <mat-icon>image</mat-icon>
      <span>Image</span>
    </button>
    <button mat-menu-item
      (click)="addWidget(widgetTypesEnum.text)">
      <mat-icon>editor</mat-icon>
      <span>Text Editor</span>
    </button>
    <button mat-menu-item
      (click)="addWidget(widgetTypesEnum.hello)">
      <mat-icon>emoji_people</mat-icon>
      <span>Hello Widget</span>
    </button>
  </mat-menu>
</ng-template>

<ng-template #previewModeTemplate>
  <h1>Preview Mode</h1>
  <div class="read-only-widgets">
    <ng-container
      *ngFor="let widget of widgets$ | async"
      [ngSwitch]="widget.type">
      <ng-container *ngSwitchCase="widgetTypesEnum.image">
        <impartner-image-widget class="read-only-widget"
          [widget]="widget"
          [readOnly]="true">
        </impartner-image-widget>
      </ng-container>
      <ng-container *ngSwitchCase="widgetTypesEnum.text">
        <impartner-text-widget class="read-only-widget"
          [widget]="widget"
          [readOnly]="true">
        </impartner-text-widget>
      </ng-container>
      <ng-container *ngSwitchCase="widgetTypesEnum.hello">
        <impartner-hello-widget class="read-only-widget"
          [widget]="widget"
          [readOnly]="true"
          [userName]="USER_FIRST_NAME">
        </impartner-hello-widget>
      </ng-container>
    </ng-container>
  </div>
</ng-template>
